@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');
@import '~highlight.js/styles/github.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background: #fffff1;
}

div{
  font-family: "Radley", arial;
}


li a{
  color: #202020;
  text-decoration: underline;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 21px;
  position: relative;
}

li:hover a{
  text-decoration: none;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}


.content {
  font-size: 20px;
  text-justify: auto;
  letter-spacing: 0.5px;
  font-family: "Radley", arial;
  color: rgba(41, 41, 41, 1);
}

.content p{
    line-height: 175%;
}

.centerColumn {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

@media only screen and (max-width: 400px){
    .mobile{
        width: 70vw;
    }
     .mobile p{
        line-height: 200%;
        letter-spacing: 1px;
     }
}

h1 {
  font-family: "Work Sans";
  font-size: 50px;
  color: rgba(41, 41, 41, 1);
  text-decoration: underline;
  text-decoration-color: #9effd7;
  color: #232323;
}

h2 {
  font-family: "Work Sans";
  font-size: 30px;
  color: #5b5b5b;
}

code {
    font-size: 15px;
}

table{
    border-collapse: collapse;
}
th,td{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    border: 1px solid #ddd;
}

th{
    background: #f0f0f0;
}
