@import '~highlight.js/styles/default.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@800&display=swap');

@font-face {
    font-family: "Iosevka";
    src: local("Iosevka"),
        url(/fonts/iosevka-term-ss18-regular.ttf) format("truetype");
}

body {
  background: #fffff1;
}

div{
  font-family: "Iosevka", arial;
}


li a{
  color: #202020;
  text-decoration: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 21px;
  position: relative;
}

li:hover a{
  text-decoration: none;
  color: #D82148;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}


.content {
  font-size: 20px;
  text-justify: auto;
  letter-spacing: 0.5px;
  font-family: "Iosevka", arial;
  color: rgba(41, 41, 41, 1);
}

.content p{
    line-height: 175%;
    font-family: "Iosevka", arial;
}

@media only screen and (min-width: 768px) {
    .centerColumn {
      margin-left: auto;
      margin-right: auto;
      width: 50vw;
    }
}

centerColumn {
      margin-left: auto;
      margin-right: auto;
      width: 90vw;
}

@media only screen and (max-width: 400px){
     .mobile p{
        line-height: 200%;
        letter-spacing: 1px;
     }
}

h1 {
  font-family: "Source Code Pro", "Work Sans";
  font-size: 50px;
  color: rgba(41, 41, 41, 1);
  text-decoration: underline;
  text-decoration-color: #6EBF8B;
  color: #232323;
}

h2 {
  font-family: "Source Code Pro", "Work Sans";
  font-size: 30px;
  color: #5b5b5b;
}

code {
    font-size: 18px;
    font-family:"Iosevka"
}

table{
    border-collapse: collapse;
}
th,td{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    border: 1px solid #ddd;
}

a[target] svg {
  display: none !important;
}

a[target] span { 
  display: none !important
} 

th{
    background: #f0f0f0;
}

div.lang p a {
  text-align: right;
  font-size: 20px;
  color: #9f83ff;
  display: block;
  text-decoration: none;
}
